@CHARSET "utf-8";
a{
	text-decoration: none;
}
a:hover{
	color: #54A147;
}
#tb{
	margin: 100px auto;
	font-size: 20px;
	text-align: left;
}
.select{
	width: 122px;
	height: 35px;
}
.pet{
	width: 121px;
	height: 35px;
}
tr{
	height: 50px;
}
.input1{
	width: 250px;
	height: 35px;
}
#title{
	color: #54A147;
	font-size: 40px;
	position: absolute;
	top: 25px;
	left: 60px;
	text-shadow: 1px 1px 1px;
}
#return{
	position: absolute;
	top: 85px;
	right: 60px;
}
hr{
	color:#54A147;
	margin-top: 105px;
	width: 1100px;
	float: left;
}
#column{
	margin-top: 90px;
	float: left;
}
#back{
	font-size: 20px;
	color: #54A147;
}
#span{
	font-size: 20px;
}
.input2{
	width: 250px;
	height: 38px;
	margin-left: 560px;
	margin-top: -70px;
	background-color: #54A147;
	font-size: 20px;
	border: 0px;
	color:white;
}
.img-div{
	width: 220px;
	height: 250px;
	float: right;
	margin-right: 150px;
	margin-top: -400px;
}
.img2{
	width: 150px;
	height: 150px;
}
.file-input{
	opacity: 0;
	margin-top: 30px;
}
.upload{
	border: 1px #99D3F5 solid;
	background-color: #D0EEFF;
	margin-top: -30px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.a-img{
	color: #1E88C7;
}
.text-input{
	height: 32px;
	width: 120px;
	margin-top: -31px;
	margin-left: 90px;
	border: 1px #99D3F5 solid;
}