@CHARSET "utf-8";
a{
	text-decoration: none;
}
.title{
	color: #54A147;
	font-size: 40px;
	margin-left: 60px;
	margin-top: 25px;
	text-shadow: 1px 1px 1px;
}
.return{
	float: right;
	margin-right: 60px;
}
hr{
	color:#54A147;
	width: 1100px;
	float: left;
}
.column{
	margin-top: 10px;
	float: left;
}
.back{
	font-size: 20px;
	color: #54A147;
}
.span{
	font-size: 18px;
}
.tb{
	margin: 25px auto;
	border-collapse: collapse;
	text-align: center;
}
th{
	//border : 1px black solid;
	width: 130px;
	height:50px;
	border-collapse: collapse; 
	text-align: center;
}
.td1{
	border-bottom: 1px black solid;
	width: 130px;
	height:50px;
	border-collapse: collapse;
	text-align: center;
}